
body{
    margin: 0;
    background-color: #EDF1F5;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 50%;
    display:flex;
    flex-direction:column;
    height:500px;
    position:relative;
    top:30px;
    background-color: #ffffff;
    margin: 50px auto;
    border-radius:20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height:100px;
    
}

#logo-box{
    width: 170px;
    height: 150px;
    position:relative;
    top:-12px;
    left:-20px;
}

#logo-image{
    width: 100%;
    height: 100%;
}

#menu-box{
    display: flex;
    justify-content: space-evenly;
    font-size:12px;
    position:relative;
    top:-10px;
}

#signin-btn{
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    
    font-size:10px;
    border-radius: 12px;
    margin-right: 50px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    top:-10px;
    right:-20px;
}

#menu-bar{
    position: absolute;
    display: none;
}

.menu-item{
    color: #A0A0A0;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.selected-menu-item{
    color: #000000;
    font-weight: 600;
}

main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    
}

#landing-section{
    width: 40%;
    position: relative;
    top:20px;
}

#image-section{
    width: 50%;
    height: 100%;
    
    background-size: cover;
    background-position-y: top;
    background-position-x: left;
    opacity: 0.8;
    border-radius: 10px;
    position: relative;
    right:30px;
    
}

#bottom-section{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: relative;
    top:-80px;
    left:20px;
}

#para{
    background-color: #FFE1F9;
    color: #697CFF;
    border: none;
    width: max-content;
    position: relative;
    left:-9px;
    text-align:center;
    padding: 7px 14px;
    border-radius: 40px;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    cursor: pointer;
}

#landing-title{
    color: #000;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    margin: 20px 0;
    position: relative;
    left:-10px;
}

#landing-text{
    color: #8F8F8F;
    font-size: 10px;
    margin: 20px 0;
    position: relative;
    left:-7px;
}

#get-started{
    background-color: #6A7CFF;
    color: #fff;
    width: max-content;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    
    position:relative;
    left:-10px;
}

.left_arrow_wrapper{
    background-color: #6A7CFF;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 40px;
    
}

.left_arrow{
    color: #fff;
    font-size: 12px;
}

.right_arrow_wrapper{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 40px;
    box-shadow: 0 0 15px 0.3px #656565;
    margin: 8px;
}

.right_arrow{
    color: #000;
    font-size: 12px;
}

#number{
    color: #6A7CFF;
    font-size: 8px;
    font-weight: 600;
}

#detail{
    color: #000;
    font-size: 8px;
    font-weight: 660;
    word-wrap: break-word;
}

#arrows{
    width: 130px;
    position:relative;
    top:-10px;
    left:40px;
    margin-right: 10px;

}

#end{
    display: flex;
    width: 130px;
    margin-left:10px;
    position: relative;
    left:50px;
    top:-10px;
}

@media(max-width:600px){
    main{
        flex-direction: column;
        padding-bottom: 24px;
    }
    section{
        width:90% ;
        height:100%;
        margin:10px auto;
        position: relative;
    }
    
    #logo-box{
        position: relative;
        top:0;
    }
    #landing-title{
        font-size: 30px;
    }

    #landing-section{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }


    #image-section{
        width: 50%;
        margin: 40px auto;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        position:relative;
        top:10px;
        right:130px;
    }
    img{
        width:400px;
    }

    #bottom-section{
        width: 100%;
        display:flex;
        position:relative;
        left:30px;
        top:-50px;;
        margin: 0 auto;
        
    }
    #end{
        position:relative;
        left:-70px;
        
    }
    #arrows{
        position:relative;
        left: -20px;
    }

    #menu-box,#signin-btn{
        display:none;
    }
    
    

    #menu-bar{
        display: block;
        right: 30px;
        cursor: pointer;
    }

    
}